<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enregistrement | WINTER'S NIGHT</title>
</head>

<body>

    
    <form action="http://<%= host %>:3000/record" method="post">

        <input type="text" name="matricule" id="matricule" placeholder="Matricule">
        <input type="text" name="nom" id="nom" placeholder="Nom">
        <input type="text" name="prenoms" id="prenoms" placeholder="Prénoms">
        <input type="tel" name="tel" id="tel" placeholder="Numéro de téléphone">
        <input type="email" name="email" id="email" placeholder="Adresse mail">

        <input type="submit" value="ENVOYER">

    </form>


</body>

</html>